/* GLOBAL STYLES */
    html, body {

    }
    h1 {

    }
    a {
      color: red;

    }
    div {
      border: 1px solid black;
    }
    div a {
      color: unset;
    }
    /* BIO STYLES */
    #exec-bio {
      background-color: lightgray;
    }
    .bio-box {
      border: 1px solid black;
    }
    .bio-box a {
      color: green;
    }
