/* GLOBAL STYLES */
    html, body {
      margin: 0;
      padding: 0;
    }
    h1 {
      font-size: 7vh;
      margin-top: 0;
    }
    a {
      color: #f00;
    }
    /* HERO SYTLES */
    .full-hero {
      background-color: #c7dbfc;
      height: 50vh;
    }

    /* SOCIAL STYLES */
    .social-link {
      color: blue;
      background: rgba(150, 150, 150, 0.5);
      height: 36px;
      width: 36px;
      display: inline-block;
    }

    /* BIO STYLES */
    .bio-wrapper {
      font-size: 24px;
    }
    .bio-wrapper:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
    .bio-box {
      border: 1px solid black;
      box-sizing: border-box;
      float: left;
      width: 25%;
      padding: 2%;
      font-size: 1rem;
    }
    .bio-box h3 {
      font-size: 1.5em;
    }
    .bio-copy {
      font-size: 1em;
    }
    .bio-copy a {
      color: green;
    }
